<head>
  <title>Vixy Guias</title>
  <meta charset="utf-8">
  <!--<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">-->
  <link rel="stylesheet" href="../../../assets/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323:100,200,300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700">
  <!-- ICONOS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- jquery -->
  <script type="text/javascript" src="../../../assets/jSticky-master/jquery-1.8.1.min.js"></script>
</head>

<body>
  <!--Componente Cabecera-->
  <app-cabecera></app-cabecera>
  <a href="../../Usuario/nuevoUsuario/nuevoUsuario.component.html">Nuevo Usuario</a>




  <!-- Componente Cuerpo -->
  <div id="body-index">
    <section id="articulo-principal-envoltorio">
      <div id="articulo-principal">
        <a href="//guiadejapon.es/kyoto/santuario-kifune">
          <img src="../assets/images/1.jpg" class="imagen">
        </a>
        <div class="articulo-texto">
          <span class="etiqueta">
            <a href="//guiadejapon.es/kyoto">
              kyoto
            </a>
          </span>
          <span class="titulo">
            <a href="//guiadejapon.es/kyoto/santuario-kifune">
              Santuario Kifune
            </a>
          </span>
          <span class="informacion">
            <i class="fa fa-calendar"></i>
            &nbsp; 19 de Octubre, 2017&nbsp;
            <i class="fa fa-angle-right"></i>
            &nbsp; Valoración:
            <strong>
              83%
            </strong>
          </span>
        </div>
        <!-- articulo-texto -->
      </div>
      <!-- articulo-principal -->
    </section>
    <!-- articulo-principal-envoltorio -->

    <section id="articulo-secundario-envoltorio" class="separacion">
      <div id="articulo-secundario">
        <a href="//guiadejapon.es/blog/festival-kanda-matsuri">
          <!--<img src="../img/blog_festival-kanda-matsuri.jpg" class="imagen">-->
        </a>
        <div class="articulo-texto">
          <span class="etiqueta">
            <a href="//guiadejapon.es/vida">
              vida
            </a>
          </span>
          <span class="titulo">
            <a href="//guiadejapon.es/blog/festival-kanda-matsuri">El Festival Kanda Matsuri de Tokyo</a>
          </span>
          <span class="informacion">
            <i class="fa fa-calendar"></i>&nbsp; 10 de Setiembre, 2017&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp; Valoración:
            <strong>85%</strong>
          </span>
        </div>
        <!-- articulo-texto -->
      </div>
      <!-- articulo-secundario -->
    </section>
    <!-- articulo-secundario-envoltorio -->

    <section id="articulo-secundario-envoltorio">
      <div id="articulo-secundario">
        <a href="//guiadejapon.es/blog/restaurante-kagari-kyoto-templo-ninnaji">
          <!--<img src="../img/blog_restaurante-kagari-kyoto-templo-ninnaji.jpg" class="imagen">-->
        </a>
        <div class="articulo-texto">
          <span class="etiqueta">
            <a href="//guiadejapon.es/restaurantes">
              restaurantes
            </a>
          </span>
          <span class="titulo">
            <a href="//guiadejapon.es/blog/restaurante-kagari-kyoto-templo-ninnaji">
              El Gyudon del restaurante Kagari de Kyoto
            </a>
          </span>
          <span class="informacion">
            <i class="fa fa-calendar"></i>&nbsp; 30 de Mayo, 2017&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp; Valoración:
            <strong>100%</strong>
          </span>
        </div>
        <!-- articulo-texto -->
      </div>
      <!-- articulo-secundario -->
    </section>
    <!-- articulo-secundario-envoltorio -->

    <!-- ARTICULO triple -->
    <h2 id="titulo-triple">Las ciudades más visitadas</h2>
    <div id="articulo-triple-envoltorio-principal">
      <section id="articulo-secundario-envoltorio" class="separacion">
        <div id="articulo-secundario">
          <a href="//guiadejapon.es/kyoto">
            <!--<img src="../img/kyoto_index.jpg" class="imagen">-->
          </a>
          <div class="articulo-texto">
            <span class="etiqueta">
              <a href="//guiadejapon.es/kyoto">kyoto</a>
            </span>
            <span class="titulo">
              <a href="//guiadejapon.es/kyoto">Ciudad de Kyoto</a>
            </span>
            <span class="informacion">
              <i class="fa fa-thumbs-up"></i>&nbsp; 1149&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>99%</strong>
            </span>
          </div>
          <!-- articulo-texto -->
        </div>
        <!-- articulo-secundario -->
      </section>
      <!-- articulo-secundario-envoltorio -->
      <section id="articulo-secundario-envoltorio" class="separacion">
        <div id="articulo-secundario">
          <a href="//guiadejapon.es/tokyo">
            <!--<img src="../img/tokyo_index.jpg" class="imagen">-->
          </a>
          <div class="articulo-texto">
            <span class="etiqueta">
              <a href="//guiadejapon.es/tokyo">tokyo</a>
            </span>
            <span class="titulo">
              <a href="//guiadejapon.es/tokyo">Ciudad de Tokyo</a>
            </span>
            <span class="informacion">
              <i class="fa fa-thumbs-up"></i>&nbsp; 784&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>98%</strong>
            </span>
          </div>
          <!-- articulo-texto -->
        </div>
        <!-- articulo-secundario -->
      </section>
      <!-- articulo-secundario-envoltorio -->
      <section id="articulo-secundario-envoltorio" class="separacion">
        <div id="articulo-secundario">
          <a href="//guiadejapon.es/nara">
            <!--<img src="../img/nara_index.jpg" class="imagen">-->
          </a>
          <div class="articulo-texto">
            <span class="etiqueta">
              <a href="//guiadejapon.es/nara">nara</a>
            </span>
            <span class="titulo">
              <a href="//guiadejapon.es/nara">Ciudad de Nara</a>
            </span>
            <span class="informacion">
              <i class="fa fa-thumbs-up"></i>&nbsp; 941&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>97%</strong>
            </span>
          </div>
          <!-- articulo-texto -->
        </div>
        <!-- articulo-secundario -->
      </section>
      <!-- articulo-secundario-envoltorio -->
    </div>
    <!-- articulo-triple-envoltorio-principal -->

    <!--Componente Lateral-->
  <app-barralateral></app-barralateral>


    <!-- ARTICULO BLOG -->
    <h2 id="index-titulo-blog">Novedades</h2>
    <a href="//guiadejapon.es/blog/es-dificil-viajar-a-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_es-dificil-viajar-a-japon.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">viajar</span>
            <span class="titulo">Es difícil viajar a Japón?</span>
            <span class="texto-articulo">Viajar a Japón por primera vez puede parecer difícil pero en realidad una vez estás allí te das cuenta que no
              es tan diferente a nuestro país.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 31 de Marzo, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>87%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/guia-viaje-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/guia-viaje-japon_cosplay.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">viajar</span>
            <span class="titulo">Guía básica para planificar tu viaje a Japón</span>
            <span class="texto-articulo">Viajar a Japón es difícil la primera vez, planearlo todavía más. Te ayudamos con esta guía de Japón que te guiará
              paso a paso para que disfrutes de tu viaje a Japón.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 19 de Marzo, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>97%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/pachinko-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_pachinko-japon.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">vida</span>
            <span class="titulo">Cómo se juega al Pachinko?</span>
            <span class="texto-articulo">El Pachinko es el juego más popular de Japón, te explicamos cómo se juega paso a paso.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 17 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/viajar-okinawa-barco">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_viajar-okinawa-barco.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">viajar</span>
            <span class="titulo">Viajar a Okinawa en barco desde Osaka o Kagoshima</span>
            <span class="texto-articulo">Si quieres vivir una gran experiencia, lo mejor que puedes hacer es ir hasta Okinawa en barco. Te contamos cómo
              hacerlo y cuánto cuesta el billete de ida y vuelta.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 17 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/experiencia-love-hotel-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_experiencia-love-hotel-japon.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">viajar</span>
            <span class="titulo">Mi experiencia en un Love Hotel de Japón: El Hotel Alps de Osaka</span>
            <span class="texto-articulo">Entrevistamos a Rafael, quien ha ido en su luna de miel un par de días al Love Hotel Alps de Osaka.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 16 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/love-hotels-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_love-hotels-japon.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">vida</span>
            <span class="titulo">Los Love Hotels de Japón</span>
            <span class="texto-articulo">Los Hoteles del Amor o Love Hotels en Japón, son lugares donde las parejas pueden alquilar habitaciones por horas.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 16 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>85%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/pasos-normas-visita-templo-santuario">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_pasos-normas-visita-templo-santuario.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">vida</span>
            <span class="titulo">Comportamiento y normas a seguir al visitar un templo o un santuario</span>
            <span class="texto-articulo">Estos son los pasos que hay que seguir en un templo o santuario si uno quiere respetar la cultura japonesa.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 13 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/seijin-no-hi-mayoria-de-edad">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_seijin-no-hi-mayoria-de-edad.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">vida</span>
            <span class="titulo">Seijin no Hi, celebrando la mayoría de edad en Japón</span>
            <span class="texto-articulo">El segundo lunes de Enero se celebra la mayoría de edad en Japón, el Seijin no Hi o Día del Adulto.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 12 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/alquilar-internet-japon">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_alquilar-internet-japon.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">herramientas</span>
            <span class="titulo">Alquiler de Internet para viajar por Japón, SIM y Pocket WIFI</span>
            <span class="texto-articulo">Cómo tener conexión a internet en Japón con una tarjeta SIM o un dispositivo de conexión WiFi.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 11 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <a href="//guiadejapon.es/blog/viajar-japon-sin-maletas-takkyubin">
      <section id="articulo-blog-envoltorio">
        <div id="articulo-blog">
          <span class="imagen">
            <!--<img src="../img/blog_viajar-japon-sin-maletas-takkyubin.jpg">-->
          </span>
          <div class="texto">
            <span class="etiqueta">herramientas</span>
            <span class="titulo">Servicio de reparto de equipaje Takuhaibin (Takkyubin)</span>
            <span class="texto-articulo">El servicio Takuhaibin o Takkyubin (Ta-Q-Bin) es un servicio de transporte para poder enviar el equipaje al hotel
              o aeropuerto.</span>
            <span class="informacion">
              <i class="fa fa-calendar"></i>&nbsp; 10 de Enero, 2017&nbsp;
              <i class="fa fa-angle-right"></i>&nbsp; Valoración:
              <strong>100%</strong>
            </span>
          </div>
          <!-- texto -->
        </div>
        <!-- articulo-blog -->
      </section>
      <!-- articulo-blog-envoltorio -->
    </a>
    <section id="mas-entradas">
      <a href="//guiadejapon.es/blog/entradas-anteriores">
        <span class="boton">Ver entradas anteriores</span>
      </a>
    </section>
    <!-- mas-entradas -->

    <section id="quienessomos">

      <h2 class="titulo">Quiénes somos?</h2>
      <p class="texto">
        <strong>
          <a href="//guiadejapon.es/" itemprop="url">guiadejapon.es</a>
        </strong> es un proyecto llevado a cabo en el año 2014 por gente de habla hispana que querían visitar todas las atracciones
        posibles de Japón pero no encontraban la información suficiente en internet para poder llegar a ellas.

        <br>
        <br>En ese momento es cuando se decidió que si no se podía encontrar se crearía, no solo para nosotros mismos, también
        para cualquier hispanohablante que quiera viajar a Japón y no quiera tener problemas encontrando las atracciones
        que desea visitar.

        <br>
        <br>Hacer turismo en Japón es algo difícil si no conoces el idioma y, aunque la gente sea muy amable, lo más normal es
        que no entiendan ni el inglés. Aparte de visitar las cuatro atracciones que ya se han visto miles de veces en revistas
        y documentales, seguramente vas a querer visitar más sitios. Lugares donde no haya estado tanta gente y que es posible
        que te resulten diez veces más atractivas, aquí es cuando nuestra web puede resultarte más útil ya que encontrarás
        más de 500 atracciones repartidas por todo el país en esta sencilla guía de viaje por Japón.

        <br>
        <br>Una guía turística de Japón que también cuenta con un blog informativo para hacer tus viajes más amenos y menos asfixiantes,
        con consejos que todo aquel que desea hacer turismo por Japón debe saber.

        <br>
        <br>Visitar Japón no es algo fácil y mucho menos que pueda hacerse en un par de semanas, si quieres viajar a Japón y
        ver las atracciones más impresionantes puede que no todo sea cosa de comprar un billete e ir, a veces también dependerá
        de la estación del año en la que visites Japón. En primavera, por ejemplo, son famosos los cerezos en flor o Sakura
        y tiñen los templos y santuarios de rosa y blanco, en esta guía de Japón podrás saber cuál es el mejor momento del
        año para visitar cada atracción. En otoño también cambia mucho el paisaje, ya que los árboles cambian de color y
        se pueden distinguir una gran variedad de tonalidades que difícilmente puedas ver en otro país.

        <br>
        <br>Si no sabes qué ver en Japón esta es tu mejor opción, además podrás usar esta web como más te plazca ya sea para
        hacer tus propias rutas o incluso si te encuentras en Japón y quieres saber qué atracciones puedes visitar en cada
        ciudad.

        <br>
        <br>Podrás encontrar otras guías de viaje, pero esta está hecha por y para hispanohablantes. Encontrarás toda la información
        necesaria y eso evitará que tengas que seguir buscando por internet la información completa de cada atracción y/o
        ciudad.

        <br>
        <br>Después de dos años recopilando información, esta web ha sido inaugurada en Julio de 2016 lista para ser usada. Aún
        así los artículos de cada atracción son renovados continuamente para que el visitante no se encuentre con un cartel
        que ponga que están de obras después de hacer un largo recorrido.

        <br>
        <br>En el blog encontrarás nuevas entradas todos los días, no solo sobre viajes, también noticias de Japón que nos parecen
        importantes o destacables para conocer más la cultura japonesa. Recuerda que Japón no es solo un país, también es
        una cultura y conocerla te ayudará a poder disfrutar todavía más del viaje a Japón.

        <br>
        <br>Esperemos que te sea de gran utilidad y disfrutes de tu viaje a Japón como nunca lo habías hecho antes con otros
        viajes.

        <br>
        <br>Atentamente, el equipo de
        <strong>guiadejapon.es</strong>
      </p>

    </section>
    <!-- quienessomos -->

  </div>
  <!-- body-index -->

  <!-- Componente Footer -->
  <app-footer></app-footer>
</body>
